@import models.territory.Territory
@import models.territory.Friend

@(t: Territory, friends: Seq[Friend])

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Gebiete</title>
</head>
<body class="territory single">

   <datalist id="friends">
      @for(name <- friends) {
      <option value="@name">
      }
   </datalist>

   <div class="container">
      <h1>Gebiet Nr. @t.id <small>@t.city</small></h1>

      <h2>Aktionen <small>@t.state</small></h2>
      @if(t.available) {
         <button class="btn btn-default">Ausgeben</button>
         <button class="btn btn-default">Temporär Ausgeben</button>
      } else {
         <button class="btn btn-default">Zurückgeben</button>
         <button class="btn btn-default">Bearbeitet</button>
         <button class="btn btn-default">Unbearbeitet Zurück</button>
      }

      <h2>Straßen</h2>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Straße</th>
               <th>Hausnummern</th>
               <th>Familien</th>
            </tr>
         </thead>
         <tfoot>
            <tr>
               <td></td>
               <td></td>
               <td>@t.streets.map(_.households).sum gesamt</td>
            </tr>
         </tfoot>
         <tbody>
            @for(s <- t.streets) {
            <tr>
               <td>@s.name</td>
               <td>@tags.format.range(s.range)</td>
               <td>@s.households</td>
            </tr>
            }
         </tbody>
      </table>

      <h2>Nicht wieder vorsprechen</h2>

      <h2>Karte</h2>

      <section class="log">
         <h2>Historie</h2>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Datum</th>
                  <th>Aktion</th>
                  <th>Wer</th>
               </tr>
            </thead>
            <tbody>
               @for(entry <- t.log.reverse) {
               <tr class="@if(entry.kind.available){available}">
                  <td>@tags.format.date(entry.date)</td>
                  <td>@entry.kind.description</td>
                  <td>@entry.who.map(_.name)</td>
               </tr>
               }
            </tbody>
         </table>
      </section>

   </div>
</body>
</html>
