@import models.territory._
@import models.territory.summary._
@import tags._

@(available: Seq[AvailableTerritory], issued: Seq[IssuedTerritory])

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Gebiete</title>
</head>
<body class="territory summary">

   <div class="container">

      <header class="row">
         <div class="col-xs-12">
            <h2>Gebiete</h2>
         </div>
      </header>

      <div class="row">
         <div class="col-xs-12">

            <h3>Im Kasten</h3>
            <table class="available table table-hover">
               <thead>
                  <tr>
                     <th class="id">Gebiets&shy;nummer</th>
                     <th class="unworked">Monate unbearbeitet</th>
                     <th class="households">Haushalte</th>
                     <th class="city">Ort</th>
                     <th class="streets">Straßen</th>
                     <th class="actions"></th>
                  </tr>
               </thead>
               <tbody>
                  @for(t <- available) {
                  <tr class='@{
                     if(t.monthsNotWorked.exists(_ > 9)) "bg-danger"
                     else if(t.monthsNotWorked.exists(_ > 6)) "bg-warning"
                     }'>
                     <td>@t.id</td>
                     <td title="@t.lastWorked.map(tags.format.date(_))">@t.monthsNotWorked</td>
                     <td>@t.households</td>
                     <td>@t.city</td>
                     @defining(t.streets.mkString(", ")) { joined =>
                     <td title="@joined" class="streets">@joined</td>
                     }
                     <td class="actions">
                        <a href="@controllers.territory.routes.TerritoryController.show(t.id)">Details</a>
                     </td>
                  </tr>
                  }
               </tbody>
            </table>

            <h3>Ausgegeben</h3>
            <table class="issued table table-hover">
               <thead>
                  <tr>
                     <th class="id">Gebiets&shy;nummer</th>
                     <th class="working">Monate ausgegeben</th>
                     <th class="friend">Name</th>
                     <th class="city">Ort</th>
                     <th class="streets">Straßen</th>
                     <th class="actions"></th>
                  </tr>
               </thead>
               <tbody>
                  @for(t <- issued) {
                  <tr>
                     <td>@t.id</td>
                     <td title="@tags.format.date(t.issued)">@t.monthsIssued</td>
                     <td>@t.friend.name</td>
                     <td>@t.city</td>
                     @defining(t.streets.mkString(", ")) { joined =>
                     <td class="streets" title="@joined">@joined</td>
                     }
                     <td class="actions">
                        <a href="@controllers.territory.routes.TerritoryController.show(t.id)">Details</a>
                     </td>
                  </tr>
                  }
               </tbody>
            </table>
         </div>
      </div>

   </div>

   <script>app.territory.init()</script>
</body>
</html>
