
.territory {
   &.summary {
      table {
         table-layout: fixed;
         td, th {
            vertical-align: middle;
         }
      }
      .id { width: 6em; }
      .unworked, .working { width: 8em; }
      .households, .friend { width: 7em; }
      .city { width: 10em; }
      .streets:not(.expand) {
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }
      .actions {
         text-align: right;
         width: 5em;
      }
   }

   &.single {
      .log {
         tbody tr.iteration {
            background-color: gray;
         }
      }

   }
}
