@media print {

    @page {
       size: A4;
    }

    body {
       font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
       line-height: 1.6 !important;
       font-size: 13pt;
    }

    header, .row:not(.termine), .save,  {
       display: none !important;
    }

    table {
       border-collapse: collapse;
       margin: 0 auto;
    }

    th, td {
       padding: 0px 8px !important;
       width: 12.5rem !important;
    }

    thead th, thead td {
       border: 1px solid black !important;
       text-align: left;
    }

    tbody td[rowspan] {
       border: 1px solid black;
    }

    tbody tr:nth-child(odd) td:not([rowspan]) {
       border-bottom: 0 !important;
       border-left: 1px solid black;
    }

    tbody tr:nth-child(even) td {
       border-top: 0;
       border-bottom: 1px solid black;
       border-left: 1px solid black;
    }

    .printing-date {
       $margin: 2rem;
       margin-top: $margin;
       margin-left: $margin;
    }
}
