$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";
@import "lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "print";

$color-sicherheit: dodgerblue;
$color-mikro: forestgreen;
$color-tonanlage: deeppink;
$color-platzhalter: gainsboro;
$color-active: #d9edf7;
$color-disabled: #dcadad;
$color-assigned: gainsboro;

$colors: (
    sicherheit: dodgerblue,
    mikro: forestgreen,
    tonanlage: deeppink
);
$dienste: sicherheit, mikro, tonanlage;



.date-range {
   margin-bottom: 1em;
}

@mixin border-radius {
   border-radius: 5px;
}

@import "components/kandidaten";
@import "components/territory";

.planung {

   .platzhalter {
      width: 100%;
      height: 5em;
      text-align: center;
      padding: 2em 0;
      margin-bottom: 1em;
      position: relative;

      .remove {
         position: absolute;
         top: 3px;
         right: 5px;
         font-weight: bold;
         cursor: pointer;
      }

      &:not(.bg-success) {
         background-color: $color-platzhalter;
      }

      @include border-radius;
   }

    @each $dienst in $dienste {
        .#{$dienst} h3 {
            color: map-get($colors, $dienst);
        }
    }

}

.termine {

   tbody td {
      vertical-align: middle !important;
   }

   tbody tr {
      cursor: pointer;
   }

   @media screen {
      max-height: 200px;
      overflow-y: scroll;

      .printing-date {
         display: none;
      }
   }

}

.save {
   padding: 3rem;
   display: flex;
   justify-content: center;

   .btn, div {
      margin-right: .3em;
   }

   .glyphicon {
      font-size: 1.5em;
      margin-top: 0.25em;
   }

   .save-ok {
      display: inline-block;
      color: $brand-success;
   }

   .error {
      display: inline-block;
      color: red;
   }

   .working {
      display: inline-block;
      animation: 2s linear 0s infinite normal turnit;
   }

   @keyframes turnit {
      from {
         transform: rotate(0deg);
      }

      to {
         transform: rotate(360deg);
      }
   }

}

